.container{
    display:flex;
    max-height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 40px
}

.container form{
    width: 50%;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    
}

.container form .row {
    display: flex;
    flex-direction: column;
    height:100px;
    width:100%;
    align-items: center;
    justify-content: space-between;
    padding:10px 20px;
}

.container form .row span {
    min-width:100px;
    font-size: 18px;
    color:yellow;
}

.container form .row input{
    height:25px;
    width: 100%;
    outline: none;
    padding:10px;
    font-size:15px;
}

.container form .row button{
    flex:1;
    height: 40px;
    background: yellow;
    color: black;
    font-size:18px;
    border-radius: 5px;
}

.container form .row button:hover{
    background: rgb(151, 151, 22);
}

