

.agendamento{
    display: grid;
    grid-template-areas: 'header header header'
    'main main main'
    'footer footer footer' ;
    text-align: center;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    height: 1vh;


}
.item1{
    grid-area: header;
    /* background-image: url(../../assets/back.jpg); */
    height: auto;
    color: white;
    /* background: black; */
    text-align: start;
    top: 30px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-top: 50px;
    height: auto;


}
.item2{
    grid-area: main;

    height: auto;
    top: 30px;
    padding: 70px;
    align-items: flex-start;
}
/* .item3{grid-area: footer;} */
.show{
    display: block !important;
  }